<footer class="text-center text-white footer" style="background-color: #2b2b2b">
    <div class="container pb-2">
        <section class="mt-5">
            <div class="row text-center d-flex justify-content-center pt-4">
                <div class="col-md-3">
                    <h5 class="titulos-medium">
                    <a href="./formulario" class="nav-link text-white">Edición de Productos</a>
                    </h5>
                </div>
                <div class="col-md-3">
                    <h5 class="titulos-medium">
                    <a href="./getAll" class="nav-link text-white">Ver Productos</a>
                    </h5>
                </div>
            </div>
        </section>

        <hr class="my-3" />

        <section class="mb-3">
            <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <p>
                    Tienda de venta de productos, insumos y servicios para tu fiesta.
                </p>
            </div>
            </div>
        </section>

        <section class="text-center mb-4 d-flex justify-content-center">
            <a href="" class="text-white nav-link">
            <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white nav-link">
            <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white nav-link">
            <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white nav-link">
            <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white nav-link">
            <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/manuGallegojz/tras-bambalinas-node" class="text-white nav-link">
            <i class="fab fa-github"></i>
            </a>

        </section>
        </div>
  </footer>