<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->

    <title>Cotillon Tras Bambalinas - Tienda de Cotillón y Servicios para fiestas</title>
    <meta name="description" content="Tienda de Cotillón">
    <meta name="keywords" content="CUMPLEAÑOS, TORTAS, FIESTA, NAVIDAD, NUEVO AÑO, FESTEJAR, CARNAVAL">

    <!-- css -->

    <link rel="stylesheet" href="./main.css">

    <!-- bootstrap -->

    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- favicon -->

    <link rel="icon" href="./assets/img/favicon/favicon.ico" type="image/x-icon">

    <!-- fontawesome -->

    <script src="https://kit.fontawesome.com/89ff71ed23.js" crossorigin="anonymous"></script>

    <!-- jquery -->

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>