<header>
    <nav class="navbar navbar-expand-lg navbar-light py-3 border-bottom">

        <!-- izquierda -->

            <span class="col-1"></span>

            <div class="d-flex col-lg-4 d-flex justify-content-evenly" id="navbarText">
                
                        <a class="nav-link" href="./formulario"><h5 class="mb-0 titulos-medium">Edición de Productos</h5></a>

                        <a class="nav-link" href="./getAll"><h5 class="mb-0 titulos-medium">Ver Productos</h5></a>

                        <!-- <a class="nav-link" href="#"><h5 class="mb-0 titulos-medium">Temporadas</h5></a> -->

            </div>

        <!-- centro -->

            <div class="col-lg-2 d-flex justify-content-center">
                <a class="navbar-brand" href="/api/productosinicio">
                    <img src="./assets/img/logos/logo.svg" alt="Logotipo" width="200px">
                </a>
            </div>

        <!-- derecha -->

            <div class="d-flex col-lg-4 d-flex justify-content-evenly" id="navbarText">
                    
                <a class="nav-link" href="#"><h5 class="mb-0 titulos-medium">Servicios</h5></a>
            
                <a class="nav-link" href="#"><h5 class="mb-0 titulos-medium">Contacto</h5></a>

                <span class="fa-layers fa-fw d-flex justify-content-center align-items-center">
                    <i class="fas fa-shopping-cart blanco headerIcono"></i>
                    <span class="fa-layers-counter">0</span>
                </span> 

            </div>

            <span class="col-1"></span>

    </nav>
</header>