<div class="d-flex justify-content-between align-items-center">
<h1 class="mb-0 ms-2">Filtros</h1>

<div class="d-flex align-items-center col-5 justify-content-between"> 
    <div class="d-flex align-items-center col-6">
        <p class="mb-0 me-2">Ordenar por:</p>
        <button class="col-6 text-start ps-2 btn border-primary rounded ordenarBoton d-flex align-items-center"><small>Nombre: A-Z</small></button>
    </div>
    <p class="mb-0 me-2">x Resultados</p>
    <p class="mb-0 me-2">Página x de x</p>
</div>
</div>

