{{#each data}}
<div class="container pt-4">
            <div class="card shadow-0 border rounded-3 my-2">
                <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface d-flex justify-content-center">
                        <img src="{{this.image}}" alt="Producto" class="col-6" />
                    </div>
                    </div>

                        <!-- Información -->

                    <div class="col-md-6 col-lg-6 col-xl-6">

                        <!-- Título -->

                        <h5>{{this.title}}</h5>

                        <!-- Descripción -->
                    
                    <p class="text-truncate mb-4 mb-md-0">
                        {{this.description}}
                    </p>

                    </div>

                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                        
                        <!-- Precio -->
                        
                        <div class="d-flex flex-row align-items-center mb-1">
                            <h4 class="mb-1 me-1">${{this.price}}</h4>
                        </div>

                    <h6 class="text-success">Con costos de envío</h6>
                    <div class="d-flex flex-column mt-4">
                        <button class="btn btn-primary btn-sm" type="button">Detalles</button>

                        {{> @partial-block }}

                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{{/each}}