<div class="container mt-3">   

    {{>ordenarProductos}}

    <div class=" d-flex mt-3">

        {{>filter}}

        <div class="row col-9 m-0 row-cols-3" id="producto">

        
        </div>

    </div>
    </div>  
</div>