    {{#if guardado}}

    <div class="d-flex flex-column align-items-center mt-4">

        <h1 class="titulos-medium border rounded p-2 pb-3">Objeto Guardado</h1>

    </div>

    {{else}}

    <div class="d-flex flex-column align-items-center mt-3">

    <h1 class="titulos-medium">Agregar Productos</h1>

    <form action="/api/productosinicio/formulario" method="post" class="col-4 border rounded p-3 mt-4">
        <!-- Titulo del Producto -->
        <div class="form-outline mb-4">
            <label class="form-label" for="title">Titulo</label>
            <input type="text" id="title" class="form-control" name="title"/>
        </div>

        <!-- Precio del Producto -->
        <div class="form-outline mb-4">
            <label class="form-label" for="price">Precio</label>
            <input type="text" id="price" class="form-control" name="price"/>
        </div>

        <!-- Stock del Producto -->
        <div class="form-outline mb-4">
            <label class="form-label" for="stock">Stock</label>
            <input type="text" id="stock" class="form-control" name="stock"/>
        </div>

        <!-- Link de imagen del producto -->
        <div class="form-outline mb-4">
            <label class="form-label" for="image">Imagen</label>
            <input type="text" id="image" class="form-control" name="image"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Agregar</button>
    </form>

    </div>

    {{/if}}

    <div class="d-flex flex-column align-items-center mt-5">

    <h1 class="titulos-medium">Eliminar Productos</h1>
    <small class="titulos-medium text-primary">No funciona</small>

    {{#> productos }}
        {{log eliminar}}  
        {{#if eliminar}}
        <button class="btn btn-outline-primary btn-sm mt-2" type="button">
        Eliminar
        </button>

        {{else}}

        <button class="btn btn-outline-primary btn-sm mt-2" type="button">
        Agregar al carrito
        </button>

        {{/if}}
    {{/ productos}}

    </div>