<div class="mt-3 titulos-medium">
    <div class="d-flex flex-column align-items-center mt-3" style="height: 400px;">

    <h1 class="titulos-medium">Página de Inicio</h1>

    <h6 class="mt-2">Arriba a la derecha, en editar productos.</h6>

    </div>
</div>
