doctype html
html
    include ./partials/head.pug
    body
        include ./partials/nav.pug
        each e in data
            .container.pt-4
                .card.shadow-0.border.rounded-3.my-2
                  .card-body
                    .row
                      .col-md-12.col-lg-3.col-xl-3.mb-4.mb-lg-0
                        .bg-image.hover-zoom.ripple.rounded.ripple-surface.d-flex.justify-content-center
                          img.col-6(src=e.image alt='Producto')
                      // Información
                      .col-md-6.col-lg-6.col-xl-6
                        // Título
                        h5=e.title
                        // Descripción
                        p.text-truncate.mb-4.mb-md-0=e.description
                      .col-md-6.col-lg-3.col-xl-3.border-sm-start-none.border-start
                        // Precio
                        .d-flex.flex-row.align-items-center.mb-1
                          h4.mb-1.me-1="$" + e.price
                        h6.text-success Con costos de env&iacute;o
                        .d-flex.flex-column.mt-4
                          button.btn.btn-primary.btn-sm(type='button') Detalles
                          button.btn.btn-outline-primary.btn-sm.mt-2(type='button')
                              Agregar al carrito
        include ./partials/footer.pug